{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul class="list-unstyled mb-0 w-100 row justify-content-center">
        <li class="col-auto">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; 上一页</a>
            {% else %}
            <span>&laquo; 上一页</span>
            {% endif %}
        
        {% for page in (1..paginator.total_pages) %}
           
                {% if page == paginator.page %}
                <span>{{ page }}</span>
                {% elsif page == 1 %}
                <a href="{{ '/' | relative_url }}">{{ page }}</a>
                {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            
        {% endfor %}
      
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">下一页 &raquo;</a>
            {% else %}
            <span>下一页 &raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}