.bio {
  margin:50px 0 30px;
}

.bio_footer{
 span{
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
 }
  a{
    text-decoration: none;
  }

}
.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}
.bio_img{
  //margin-top: 70px;
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 100%;
  img{
  width:  420px;
  height: 520px;
  }
}

@media screen and (max-width:600px) {
 #img2,#img3,#img4{
   display: none;
 }
  #img1{
    position: relative;
    opacity: 1;
    border-radius: 15px 50px 30px;
    height:520px;
    width:350px;
  }
 
}

@media screen and (min-width:600px) {
  #img2,#img3,#img4{
    display: none;
  }
  #img1{
    content: url(/assets/img5.jpg);
    height:600px;
    width:800px;
    border-radius: 10px;
  }
}


@media screen and (min-width:992px) {
  .bio_img{
    img{
      border-radius: 20px;
    }
  }
    #img3,#img4{
    display: block;
  }
  #img1{
    display: none;
  }
}

@media screen and (min-width:1200px) {
  .bio_img{
    img{
      border-radius: 20px;
    }
  }
  #img1{
    display: none;
  }
  #img2,#img3,#img4{
    display: block;
  }
  
}

