.bio {
  max-width: 500px;
  margin-bottom: 70px;
}

.bio__header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size:25px;
  a {
  	text-decoration: none;

  	&:hover {
  		text-decoration: none;
  	}
  }
}

  

.bio_footer{
  margin-top:50px;
 td{
  border: 1px solid black;
 }

}
.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}
.bio_img{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:600px) {
  
  .bio_img img{
    border-radius: 15px 50px 30px;
    height:520px;
    width:350px;
  }
}

@media screen and (min-width:600px) {
  
  .bio_img img{
    position: absolute;
    opacity: 40%;
    border-radius: 15px 50px 30px;
    height:520px;
    width:350px;
  }
}

@media screen and (min-width:768px) {
  
  .bio_img img{
    position:absolute;
    opacity: 40%;
    border-radius:10px;
    content:url(/assets/img2.jpg);
    height:600px;
    width:800px;
  }
}

@media screen and (min-width:992px) {
  .bio_img img{
    position:absolute;
    opacity: 40%;
    border-radius:10px;
    content:url(/assets/img2.jpg);
    height:600px;
    width:800px;
  }
}

@media screen and (min-width:1200px) {
  .bio_img img{
    position:absolute;
    opacity: 40%;
    border-radius:10px;
    content:url(/assets/img2.jpg);
    height:600px;
    width:800px;
  }
}

